allennlp==2.10.1
allennlp-models==2.10.1
torch==1.12.1
overrides==1.9.0
pytorch_pretrained_bert==0.6.2
pandas==2.0.3
openpyxl==3.0.9
xlrd==1.2.0
fugashi==1.1.2
ipadic==1.0.0
datasets==2.10.1
fsspec==2023.6.0
